bokeh
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
six
threadpoolctl
tornado
urllib3
xyzservices
qt_material
